@page
@model DracoFistWarriorsGuild.Pages_Quests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.ImgUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.Reward)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.Reward)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.RewardImgURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.RewardImgURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.PostedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.PostedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.CompletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.CompletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quest.CompletedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quest.CompletedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Quest.QuestID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
